<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [20]:
#write your answer here
String = input("Enter a string: ")
count=len(String)
print("Length of given string is:", count)

Enter a string: Nimisha
Length of given string is: 7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [17]:
# write your answer here
String = input("Enter String: ")
Dict = {}
for i in String:
    Dict[i]= String.count(i)
Sort_Dict= dict(reversed(sorted(Dict.items(), key=lambda i:i[1])))
print(Sort_Dict)

Enter String: google.com
{'o': 3, 'g': 2, 'm': 1, 'c': 1, '.': 1, 'e': 1, 'l': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [1]:
# write your answer here
List= list(map(int,input("Enter items in the list seperated by Space: ").split(" ")))
print("Sum of all items in given list: ", sum(List))

Enter items in the list seperated by Space: 1 2 3
Sum of all items in given list:  6

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [3]:
# write your answer here
String= input("Enter String: ")
print("Expected Result: ", String[0]+String[1:].replace(String[0],"$"))

Enter String: restart
Expected Result:  resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [18]:
# write your answer here
a= int(input("enter value of a:"))
b= int(input("enter value of b:"))
S= 3.14*((1+a/b)**3)
print("Result of S is:",S)

enter value of a:1
enter value of b:2
Result of S is: 10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [21]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic4={}
for items in (dic1, dic2, dic3): dic4.update(items)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [25]:
# write your answer here
Tuple = ("n","i","m","i","s","h","a")
Input = input("Enter a character = ")
print(Input in Tuple)

Enter a character = s
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [4]:
# write your answer here
Set= set(map(int,input("Enter elements: ").split(" ")))
print(Set)
min_value=min(Set)
max_value=max(Set)
print("minimum value in the list is:",min_value)
print("maximum value in the list is:",max_value)

Enter elements: 1 2 2 1 4
{1, 2, 4}
minimum value in the list is: 1
maximum value in the list is: 4

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [4]:
# write your answer here
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
#print(len(student_list))
random.shuffle(student_list)
Groups=[]
NumberOfGroups=6
for i in range(0,NumberOfGroups):
    Groups.append(student_list[i::NumberOfGroups])
print(Groups)

[['ak0956', 'sm1907', 'ak0934', 'dr0609', 'sm1640'], ['fh0141', 'nv0234', 'av0659', 'aos0040', 'sk1390'], ['nm0618', 'ja0964', 'hy0232', 'sk1386', 'vm0377'], ['ds0814', 'bg0320', 'vb0218', 'sc1229', 'sa1198'], ['sg1297', 'sk1458', 'ms1500', 'sk1313', 'kg0470'], ['gn0108', 'kg0569', 'jl1252', 'sb1357', 'pr0353']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [13]:
# write your answer here
Array_length= int(input("Enter size of Array: "))
Array=[]
for i in range(0,Array_length):
    Array.append(int(input("Enter element :")))
Set=set(Array)
Result=[]
for i in Set:
    if(Array.count(i)>1):
        Result.append(i)
if(len(Result)==0):
    print("-1")
else:
    print("Duplicate Integers",Result)

Enter size of Array: 4
Enter element :1
Enter element :2
Enter element :2
Enter element :3
Duplicate Integers [2]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [6]:
# write your answer here
from datetime import date, timedelta  
  
def SundaysInYear(year):    
       Date = date(year, 1, 1)        
       Date += timedelta(days = 6 - Date.weekday())    
       while Date.year == year:  
          yield Date  
          Date += timedelta(days = 7)  
            
for i in SundaysInYear(int(input("Enter year: "))):  
   print(i)

Enter year: 2020
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27