<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [2]:
# Your code here
import random
def random_numbers(start,end,n):
    final_result=[]
    for k in range(n):
        final_result.append(random.randint(start,end))
    return final_result

n=12
start=1
end=100

list=random_numbers(start,end,n)
print("generate 12 random numbers between 1 and 100:", list)

list.sort()
print("list of numbers in ascending order:",list)

list.sort(reverse=True)
print("list of numbers in descending order:",list)

average=sum(list)/len(list)
print("average of the given list:",average)

generate 12 random numbers between 1 and 100: [94, 62, 52, 94, 100, 47, 6, 28, 97, 29, 50, 8]
list of numbers in ascending order: [6, 8, 28, 29, 47, 50, 52, 62, 94, 94, 97, 100]
list of numbers in descending order: [100, 97, 94, 94, 62, 52, 50, 47, 29, 28, 8, 6]
average of the given list: 55.583333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [1]:
# Your code here
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [7]:
sentence_1=str(input("Enter first sentence:"))
sentence_2=str(input("Enter second sentence:"))
import nltk
string_1=nltk.word_tokenize(sentence_1)
string_2=nltk.word_tokenize(sentence_2)
print(string_1,string_2)
print(set(string_1) & set(string_2))
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r'\w+')
sen_1=tokenizer.tokenize(sentence_1)
sen_2=tokenizer.tokenize(sentence_2)
print(string_1)
print(string_2)
v1 = sentence_1.lower()
v2 = sentence_2.lower()
vowels_in_1 = {}
vowels_in_2 = {}
for k in "aeiou":
 number1 = v1.count(k)
 vowels_in_1[k] = number1
 number2 = v2.count(k)
 vowels_in_2[k] = number2
print('The vowels in the first sentence are:', vowels_in_1)
print('The vowels in the second sentence are:', vowels_in_2)

Enter first sentence:I love watching animated movies
Enter second sentence:Yesterday, I went to movie theatre to watch horror movie.
['I', 'love', 'watching', 'animated', 'movies'] ['Yesterday', ',', 'I', 'went', 'to', 'movie', 'theatre', 'to', 'watch', 'horror', 'movie', '.']
{'I'}
['I', 'love', 'watching', 'animated', 'movies']
['Yesterday', ',', 'I', 'went', 'to', 'movie', 'theatre', 'to', 'watch', 'horror', 'movie', '.']
The vowels in the first sentence are: {'a': 3, 'e': 3, 'i': 4, 'o': 2, 'u': 0}
The vowels in the second sentence are: {'a': 3, 'e': 7, 'i': 3, 'o': 6, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [4]:
# Your code here
import math
for k in range(1,10):
    volume_of_sphere=(4/3)*math.pi*(k**3)
    print("radius of the sphere r is:", k ,"volume of the sphere is:",volume_of_sphere)

radius of the sphere r is: 1 volume of the sphere is: 4.1887902047863905
radius of the sphere r is: 2 volume of the sphere is: 33.510321638291124
radius of the sphere r is: 3 volume of the sphere is: 113.09733552923254
radius of the sphere r is: 4 volume of the sphere is: 268.082573106329
radius of the sphere r is: 5 volume of the sphere is: 523.5987755982989
radius of the sphere r is: 6 volume of the sphere is: 904.7786842338603
radius of the sphere r is: 7 volume of the sphere is: 1436.7550402417319
radius of the sphere r is: 8 volume of the sphere is: 2144.660584850632
radius of the sphere r is: 9 volume of the sphere is: 3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [10]:
# Your code here
import statistics
import pandas as pd
data = pd.read_csv(r'https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv')
houses_occupied = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
difference_value = [list(houses_occupied['value'].values)[loop] - list(houses_occupied['value'].values)[loop+1]\
for loop in range(len(houses_occupied)-1)]
difference_value

[795, -5091, 303, -1404, -1565, -2622]

In [11]:
unique_years = sorted(list(data['year'].unique()))
houses_occupied = data[data['title_field'] == 'Occupied Housing Units'].sort_values(by=[
'year'])
vacant_houses = data[data['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])
new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = houses_occupied['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop] * 100) /
\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\
for loop in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop] * 100) /\
(new_house_df['Vacant House'][loop] + new_house_df['Occupied House']
[loop])\
for loop in range(len(new_house_df))]
new_house_df

,year,Vacant House,Occupied House,Percent of Vacant House,Percent of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [12]:
maximum_vacant_houses = max(data[data['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == maximum_vacant_houses]
vacant_houses
maximum_occupied_houses = max(data[data['title_field'] == 'Occupied Housing Units'].value)
houses_occupied = houses_occupied[houses_occupied['value'] == maximum_occupied_houses]
houses_occupied

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [17]:
print(statistics.harmonic_mean(list(data[data['title_field'] == 'Total Housing Units'].
value)))

44398.28543969185